.CarDetailsFooter-holder {
    margin-top: 100px;
}

/* ---------------- */

.CarDetailsFooter-cont {
    margin-bottom: 56px;
}

.CarDetailsFooter-BgCar {
    width: 1340px;
    height: 399px;
    background-image: url('./carDetailsFooterBgImg.jpg');

    background-repeat: no-repeat;
    background-size: 1480px;
    background-position-y: 63%;
    background-position-x: 48%;

    border-radius: 30px;
}

/* -------------- */

.CarDetailsFooter-title {
    display: flex;
    justify-content: center;
    padding-top: 56px;
}

.CarDetailsFooter-title>p {
    color: white;
    font-size: 56px;
    font-weight: 700;
    line-height: 67.2px;
    text-align: center;
    width: 841px;
}

.CarDetailsFooter-btn {
    text-align: center;
    margin-top: 48px;
}

.CarDetailsFooter-btn>button {
    background-color: #FD3B3B;
    width: 212px;
    height: 40px;
    color: white;
    border: none;
    border-radius: 32px;

    font-size: 16px;
    font-weight: 700;
    line-height: 19.2px;
}

.CarDetailsFooter-btn>button:hover {
    cursor: pointer;
    scale: 1.1;
    transition: 1s ease-in-out;
}

