.FooterAboutPage-holder {
    display: flex;
    justify-content: center;
}

.FooterAboutPage-cont {
    margin-bottom: 56px;
}

.FooterAboutPage-black-car {
    width: 1340px;
    height: 399px;
    background: url("./blackCarBG.jpg");
    border-radius: 30px;
}

.FooterAboutPage-black-car>p {
    color: rgb(255, 255, 255);
    font-size: 56px;
    font-weight: 700;
    line-height: 67.2px;
    width: 702px;
    padding-top: 56px;
    padding-left: 100px;
}

.FooterAboutPage-black-car>button {
    cursor: pointer;
    width: 212px;
    height: 40px;
    border: none;
    border-radius: 32px;
    background-color: #FD3B3B;
    color: white;
    font-size: 16px;
    font-weight: 700;
    line-height: 19.2px;
    margin: 46px 100px;
}

.FooterAboutPage-black-car>button:hover {
    scale: 1.1;
    transition: 1s ease-in-out;
    background-color: #d12f2f;
}

.links-wrap {
    margin-top: 38px;
    display: flex;
    justify-content: space-between;
}

.subscribe-cont {

}

.subscribe-title {
    font-size: 56px;
    font-weight: 700;
    line-height: 67.2px;
}

.subscribe-desc {
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;

    margin-top: 16px;
}

.email-input {
    margin-top: 56px;
    width: 547px;
    height: 56px;
    border: 1px solid rgba(34, 34, 34, 1);
    border-radius: 50px;
    background: url("./Arrow.svg") no-repeat 483px;
}

.email-input::placeholder {
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    opacity: 60%;
    padding-left: 32px;
}

.email-input:hover {
    cursor: text;
    transition: 0.5s ease-in-out;
    background-color: rgba(197, 197, 197, 0.384);
}

.links-list {
    height: 216px;
    margin-top: 3px;
}

.links-cont {
    display: flex;
    gap: 40px;
    width: 507px;
    margin-right: 76px;
}

.Link-column {
    list-style-type: none;
}

.Link-column .Link-item:first-child {
    margin-top: 0px;
    margin-bottom: 19px;
    font-size: 24px;
    font-weight: 700;
    line-height: 28.8px;
}

.Link-item {
    margin-top: 12px;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
}

.Link-item:hover {
    cursor: pointer;
    transition: 0.5s ease-in-out;
    color: rgba(253, 59, 59, 1);
}

.smallFooter-text {
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    margin-top: 56px;
}

.smallFooter-text>button {
    margin-left: 261px;
    width: 36px;
    height: 36px;
    border: none;
    border-radius: 50px;
    background: url("./ArrowUp.svg") no-repeat center rgba(253, 59, 59, 1);
}

.smallFooter-text>button:hover {
    cursor: pointer;
    scale: 1.2;
    transition: ease-in-out 0.6s;
}